*{
    box-sizing: border-box;
}
body{
    font-family:'Trebuchet MS';
    background-color: rgb(226, 223, 157);
    margin: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
h1::selection{
    background-color: beige;
}
h2{
    font-size: 25px;
}
h2::selection{
    background-color: beige;
}
h4{
    margin-bottom: 5px;
}
input {
    display:block;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Trebuchet MS';
    transition: .4s;
    border-style:double;
    background-color: rgb(226, 223, 157);

}
input::placeholder{
    color: #3d3824;
}
input:hover{
    transition: .4s;
    border-radius: 10px;
    
}

button{
    transition: .4s;
    font-size: 24px;
    border-color: #3d3824;
    color: #3d3824;
    border-width: 3px;
    
}
button:hover{
    transition: .4s;
    border-radius: 10px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}