*{
    box-sizing: border-box;
}
body{
    font-family:'Trebuchet MS';
    background-color: rgb(226, 223, 157);
    width: 100vw;
    height: 100vh;
    margin: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
h1 {
}

h1::selection{
    background-color: beige;
}
h4{
    margin-bottom: 14px;
}
input {
    display:block;
    margin-bottom: 8px;
    font-size: 24px;
    font-family: 'Trebuchet MS';
    transition: .4s;
    border-style: dashed;
    background-color: rgb(226, 223, 157);

}
input::placeholder{
    color: #3d3824;
}
input:hover{
    transition: .4s;
    border-radius: 10px;
    
}

button{
    font-size: 24px;
    color: #3d3824;
    outline-style:ridge;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}